<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BLOCKCAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <!-- css -->
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="stylesheets/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="stylesheets/css/jcarousel.css" rel="stylesheet" />
    <link href="stylesheets/css/flexslider.css" rel="stylesheet" />
    <link href="stylesheets/css/style.css" rel="stylesheet" />

    <!-- Theme skin -->
    <link href="stylesheets/skins/default.css" rel="stylesheet" />

    <!-- Theme skin -->
    <link href="skins/default.css" rel="stylesheet" />

    <style>
        .carousel-control.right,
        .carousel-control.left {
            background-image: none;
            color: #3071a9;
        }
        
        .carousel-indicators li {
            border-color: #3071a9;
        }
        
        .carousel-indicators li.active {
            background-color: #3071a9;
        }
        
        .this tr > td{
    height: 45px;
}

.this tr>td:first-child{
    font-weight: bold;
    text-align:center;
    width:10%;
    min-width: 10%;
}

.this tr>td:nth-child(2){
    width:30%;
}
   

#map {
    height: 400px;
    width: 100%;
}  
        
    </style>

</head>





<body>
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><span>B</span>lockcar</a>
                    </div>


                    <div class="navbar-collapse collapse ">
                        <table align="right">
                            <tr>
                                <td height="20"> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td width="100"><a href="#"><span class="fa fa-address-card-o"></span> 계정 주소 : </a></td>
                                <td width="330"><span id="contractAddress">
                                        <%= contractaddr %></span></td>
                                <td width="200" align="right"><a href="#"><span class="fa fa-gg-circle"></span> 보유 토큰 : </a>&nbsp;&nbsp;&nbsp;<span id="TCTNum"></span></td>
                                <td width="50"><a href="#">&nbsp;TCT</a></td>

                            </tr>
                        </table>
                    </div>


                    <form action='/mypage' method="POST" name='addrForm'>
                        <input type="hidden" id="accountaddr" name="accountaddr" value="">
                    </form>

                    <form action='/beforesellcar' method="POST" name='addrForm1'>
                        <input type="hidden" id="accountaddr" name="accountaddr" value="">
                    </form>


                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/enrollcar">차대번호 등록</a></li>
                            <li><a href="/buycar">차량 구입</a></li>
                            <li><a href="#" onclick="javascript:document.addrForm1.submit();">차량 판매</a></li>
                            <li><a href="/repair">수리이력 등록</a></li>
                            <li><a href="/searchRepairInfo">수리이력 조회</a></li>
                            <li><a href="#" onclick="javascript:document.addrForm.submit();">나의 정보</a></li>



                        </ul>
                    </div>

                </div>
            </div>
            
        </header>
        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                            <li><a href="#">BUY CAR</a><i class="icon-angle-right"></i></li>
                            <li class="active">INFO</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="carousel slide" data-ride="carousel" id="carousel-1" style="padding:10%;">
                            <div class="carousel-inner" role="listbox">
                                <div class="item active">
                                    <img src="<%= filepath1 %>" alt="Slide Image" class="w-100" style="height:400px;cursor:pointer" onclick="window.open('<%= filepath1 %>','asdfo8or','scrollbars=yes,width=900,height=900,top=10,left=20');"></div>
                                <div class="item"><img src="<%= filepath2 %>" alt="Slide Image" class="w-100" style="height:400px;cursor:pointer" onclick="window.open('<%= filepath2 %>','asdfo8or','scrollbars=yes,width=900,height=900,top=10,left=20');"></div>
                                <div class="item"><img src="<%= filepath3 %>" alt="Slide Image" class="w-100" style="height:400px;cursor:pointer" onclick="window.open('<%= filepath3 %>','asdfo8or','scrollbars=yes,width=900,height=900,top=10,left=20');"></div>
                                <div class="item"><img src="<%= filepath4 %>" alt="Slide Image" class="w-100" style="height:400px;cursor:pointer" onclick="window.open('<%= filepath4 %>','asdfo8or','scrollbars=yes,width=900,height=900,top=10,left=20');"></div>
                                <div class="item"><img src="<%= filepath5 %>" alt="Slide Image" class="w-100" style="height:400px;cursor:pointer" onclick="window.open('<%= filepath5 %>','asdfo8or','scrollbars=yes,width=900,height=900,top=10,left=20');"></div>
                                <div class="item"><img src="<%= filepath6 %>" alt="Slide Image" class="w-100" style="height:400px;cursor:pointer" onclick="window.open('<%= filepath6 %>','asdfo8or','scrollbars=yes,width=900,height=900,top=10,left=20');"></div>

                            </div>
                            <div><a class="left carousel-control" href="#carousel-1" role="button" data-slide="prev"><i class="fa fa-angle-left fa-2x"></i></a>
                                <a class="right carousel-control" href="#carousel-1" role="button" data-slide="next"><i class="fa fa-angle-right fa-2x"></i></a>
                            </div>
                            <ol class="carousel-indicators">
                                <li data-target="#carousel-1" data-slide-to="0" class="active"></li>
                                <li data-target="#carousel-1" data-slide-to="1"></li>
                                <li data-target="#carousel-1" data-slide-to="2"></li>
                                <li data-target="#carousel-1" data-slide-to="3"></li>
                                <li data-target="#carousel-1" data-slide-to="4"></li>
                                <li data-target="#carousel-1" data-slide-to="5"></li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <h2>
                            <%= model %>
                        </h2>
                        <hr>
                        <form>
                            <table border=0 class="this">
                                <tbody>
                                    <tr>
                                        <td>거래번호</td>
                                        <td>
                                            <%= dealnumber %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>거래상태</td>
                                        <td>
                                            <span style="color:red"><b>
                                                    <%= status %></b></span>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>제조사</td>
                                        <td>
                                            <%= brand %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>등급</td>
                                        <td>
                                            <%= cartype %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>차량번호</td>
                                        <td>
                                            <%= carnum %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>연식</td>
                                        <td>
                                            <%= year %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>판매가격</td>
                                        <td>
                                            <span style="color:blue"><b>
                                                    <%= price %> TCC</b></span></td>
                                    </tr>
                                    <tr>
                                        <td>사고유무</td>
                                        <td>
                                            <%= accident %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>주행거리</td>
                                        <td>
                                            <%= distance %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>특이사항</td>
                                        <td>
                                            <%= etc %>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>

                        </form>
                    </div>

                </div>
                <!-- divider -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="solidline">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <script>
                            function conf()
                                            {
                                                if (confirm("구매하실래요?")) {
                                                    alert("구매신청이 완료되었습니다. 마이페이지에서 확인해주세요.");
                                                document.buyform.submit(); 
                                            } 
                                                
                                        }
                                </script>
                   
                        
                        <center>
                            <form action='/info/purchase' method="post" onSubmit="conf(); return false" name="buyform" style="display:inline">
                                <input type="hidden" name="buyeraddr" value=<%=contractaddr%>>
                                <input type="hidden" name="wholenumber" value=<%=wholenumber %>>
                                <input type="hidden" name="price" value=<%=price%>>
                                <input type="hidden" name="location" value=<%=location%>>
                                <input type="hidden" name="escrownumber" value=<%=escrownumber%>>
                                <input type="hidden" name="status" value=<%=status%>>

                                <button type="submit" class="btn btn-large btn-theme">구매하기</button>
                            </form>


                        </center>
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-12">
                        <div class="solidline">
                        </div>
                    </div>
                </div>


                <div class="row">
                    <div class="col-lg-12">
                        <h4>차량 정보</h4>
                    </div>
                    <div class="col-lg-12">
                        <input type="hidden" id="carname_repair" value=<%=wholenumber%> >
                        <table class="table table-bordered table-hover slideanim">
                            <thead>
                                <tr>
                                    <th colspan=6 text-align="right" class="col-xs-4 text-center"> * 자동차 정보 조회 *</th>

                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <td class="text-center">차명</td>
                                    <td class="text-center">
                                        <%= model %>
                                    </td>
                                    <td class="text-center">자동차 등록번호</td>
                                    <td class="text-center">
                                        <%= carnum %>
                                    </td>
                                    <td class="text-center">거래번호</td>
                                    <td class="text-center">
                                        <%= dealnumber %>
                                    </td>


                                </tr>
                                <tr>
                                    <td class="text-center">가격</td>
                                    <td class="text-center">
                                        <%= price %> TCC
                                    </td>
                                    <td class="text-center">등록일</td>
                                    <td class="text-center">
                                        <%= date %>
                                    </td>
                                    <td class="text-center">제작사</td>
                                    <td class="text-center">
                                        <%= brand %>
                                    </td>



                                </tr>
                                <tr>
                                    <td class="text-center">차대번호</td>
                                    <td class="text-center">
                                        <%= wholenumber %>
                                    </td>
                                    <td class="text-center">국적</td>
                                    <td class="text-center">
                                        <%= (nation == null)?"없음":nation %>
                                    </td>
                                    <td class="text-center">차량분류</td>
                                    <td class="text-center">
                                        <%= cartype %>
                                    </td>


                                </tr>
                                <tr>
                                    <td class="text-center">차종</td>
                                    <td class="text-center">
                                        <%= model %>
                                    </td>
                                    <td class="text-center">세부차종</td>
                                    <td class="text-center">
                                        <%= detailmodel %>
                                    </td>
                                    <td class="text-center">차제향상</td>
                                    <td class="text-center">
                                        <%= carbody %>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-center">안전장치</td>
                                    <td class="text-center">
                                        <%= safety  %>
                                    </td>
                                    <td class="text-center">엔진구분</td>
                                    <td class="text-center">
                                        <%= engine %>
                                    </td>
                                    <td class="text-center">확인란</td>
                                    <td class="text-center">
                                        <%= checkbox %>
                                    </td>

                                </tr>
                                <tr>
                                    <td class="text-center">제작년도</td>
                                    <td class="text-center">
                                        <%= year %>
                                    </td>
                                    <td class="text-center">생산공장</td>
                                    <td class="text-center">
                                        <%= factory %>
                                    </td>
                                    <td class="text-center">생산일련번호</td>
                                    <td class="text-center">
                                        <%= producenumber %>
                                    </td>

                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="solidline">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12 aligncenter">
                        <img src="images/repaircar.png">
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="solidline">
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <h4>차량 수리내역</h4>
                        <table class="table table-bordered table-hover slideanim">
                            <tbody id="repairData">
                                <thead>
                                    <tr>
                                        <th class="col-xs-4 text-center">등록자</th>
                                        <th class="col-xs-2 text-center">수리내용</th>
                                        <th class="col-xs-2 text-center">수리상태</th>
                                        <th class="col-xs-4 text-center">등록일자</th>
                                    </tr>
                                </thead>
                            </tbody>
                        </table>
                    </div>
                </div>






                <!-- divider -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="solidline">
                        </div>
                    </div>
                </div>

            </div>
        </section>
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget">
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        </div>
                    </div>


                </div>
            </div>

        </footer>
    </div>
    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery.easing.1.3.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.fancybox.pack.js"></script>
    <script src="javascripts/jquery.fancybox-media.js"></script>
    <script src="javascripts/google-code-prettify/prettify.js"></script>
    <script src="javascripts/portfolio/jquery.quicksand.js"></script>
    <script src="javascripts/portfolio/setting.js"></script>
    <script src="javascripts/jquery.flexslider.js"></script>
    <script src="javascripts/animate.js"></script>
    <script src="javascripts/custom.js"></script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <script src="https://cdn.jsdelivr.net/gh/icon-project/icon-sdk-js/build/icon-sdk-js.min.js"></script>
    <script src="javascripts/utf8.js"></script>
    <script>
        var iconService = window['icon-sdk-js'];
        var IconAmount = iconService.IconAmount;
        var IconConverter = iconService.IconConverter;
        var IconBuilder = iconService.IconBuilder;
        
      var contractAddress = document.getElementById("contractAddress");
      var enrollcar_enroll = document.getElementById("enrollcar_enroll");

        
        window.addEventListener("ICONEX_RELAY_RESPONSE", eventHandler, false);
        // type and payload are in event.detail
        function eventHandler(event) {
            var type = event.detail.type;
            var payload = event.detail.payload;
            switch (type) {
                case "RESPONSE_HAS_ACCOUNT":
                    
                    break;
               
            
                case "RESPONSE_ADDRESS":
                   fromAddress = payload;
                   isRegist.innerHTML ="HELLO"
                   contractAddress.innerHTML =  payload;
                   break;
    
                case "RESPONSE_JSON-RPC":
                console.log(payload.result);
                var totalinfo = payload.result.split(',');

var repairname = totalinfo[0];
var repairinfo = totalinfo[1];
var repairstatus = totalinfo[2];
var repairtime = totalinfo[3];

var repairname1 = repairname.split('"');
var rapairinfo1 = repairinfo.split('"');
var repairstatus1 = repairstatus.split('"');
var repairtime1 = repairtime.split(':');

var repairtime2 = repairtime1[1].split('}');
var repairtime3 = repairtime2[0].split(' ');

var ts = new Date(repairtime3[1]*1000);


var repairData = document.getElementById("repairData");
var row = repairData.insertRow(repairData.rows.length); // 하단에 추가
var cell1 = row.insertCell(0);
var cell2 = row.insertCell(1);
var cell3 = row.insertCell(2);
var cell4 = row.insertCell(3);

var str = new Array("1.후드","2.프론트휀더","3.도어","4.트렁크리드","5.라디에이터 서포트","6.쿼터패널","7.루프패널","8.사이드실 패널","9.프론트패널","10.크로스멤버","11.인사이드패널","12.사이드멤버","13.휠하우스","14.필러패널","15.대쉬패널","16.플로어패널","17.트렁크플로어","18.리어패널","19.패키지트레이");
var str1 = new Array("교환","교체","판금/용접","수리 미완료");


console.log(repairname1[3]);
console.log(rapairinfo1[3]);
console.log(repairstatus1[3]);
cell1.innerHTML = repairname1[3];
cell2.innerHTML = str[rapairinfo1[3]-1];
cell3.innerHTML = str1[repairstatus1[3]-1];
cell4.innerHTML = '2018-12-21';

                    break;
                case "CANCEL_JSON-RPC":
                    break;
    
    
    
                default:
            }
    
        }
        // Register onclick event to the button and dispatch a new CustomEvent ICONEX_RELAY_REQUEST
    
        function setCar() {
                var callTransactionBuilder = new IconBuilder.CallTransactionBuilder;
                var callTransactionData = callTransactionBuilder
                    .from("<%=contractaddr%>")
                    .to("cx1bb212f4567f43ddac4cf24a9ed99f71e9ca36a5")
                    .nid(IconConverter.toBigNumber(3))
                    .timestamp((new Date()).getTime() * 1000)
                    .stepLimit(IconConverter.toBigNumber(100000000))
                    .version(IconConverter.toBigNumber(3))
                    .method('setCar')
                    .params({
                        "_carNumber": document.getElementById("car_registed_string").value
                    })
                    .build();
                   
                    scoredata = JSON.stringify({
                    "jsonrpc": "2.0",
                    "method": "icx_sendTransaction",
                    "params": IconConverter.toRawTransaction(callTransactionData),
                    "id": 50889
                });
                var parsed = JSON.parse(scoredata);
                console.log(parsed);

                window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
            detail: {
                type: 'REQUEST_JSON-RPC',
                payload: parsed
            }
        }));
    }


    function getRepairInfo() {
            for(i=0; i<10; i++) //change need
            {
            var callBuilder = new IconBuilder.CallBuilder;
            var readOnlyData = callBuilder
                .from("<%=contractaddr%>")
                .to('cx1bb212f4567f43ddac4cf24a9ed99f71e9ca36a5')
                .method("getRepairInfoStr")
                .params({
                    "_carNumber": "<%= wholenumber %>", //car number
                    "_carCount": '0x'+ i
                })
                .build();
            scoredata1 = JSON.stringify({
                "jsonrpc": "2.0",
                "method": "icx_call",
                "params": readOnlyData,
                "id": 50889
            });
            var parsed = JSON.parse(scoredata1);
            console.log(parsed);
            window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
                detail: {
                    type: 'REQUEST_JSON-RPC',
                    payload: parsed
                }
            }));
        }
        }


    function balanceOf() {
            var callBuilder = new IconBuilder.CallBuilder;
            var readOnlyData = callBuilder
                .from("<%=contractaddr%>")
                .to('cx905fdabf67bcf7b6de9bc164fab92840dc00aa3e')
                .method("balanceOf")
                .params({
                    "owner": "<%=contractaddr%>" //car number
                })
                .build();
            scoredata1 = JSON.stringify({
                "jsonrpc": "2.0",
                "method": "icx_call",
                "params": readOnlyData,
                "id": 50889
            });
            var parsed = JSON.parse(scoredata1);
            console.log(parsed);
            window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
                detail: {
                    type: 'REQUEST_JSON-RPC',
                    payload: parsed
                }
            }));
        }



    window.onload = function() {
            getRepairInfo();
        }


    </script>
    </body>
</html>
