<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>BLOCKCAR</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="" />
    <!-- css -->
    <link href="stylesheets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="stylesheets/css/fancybox/jquery.fancybox.css" rel="stylesheet">
    <link href="stylesheets/css/jcarousel.css" rel="stylesheet" />
    <link href="stylesheets/css/flexslider.css" rel="stylesheet" />
    <link href="stylesheets/css/style.css" rel="stylesheet" />

    <!-- Theme skin -->
    <link href="stylesheets/skins/default.css" rel="stylesheet" />
</head>

<body>
    <div id="wrapper">
        <!-- start header -->
        <header>
            <div class="navbar navbar-default navbar-static-top">
                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="/"><span>B</span>lockcar</a>
                    </div>
                    <div class="navbar-collapse collapse ">
                        <table align="right">
                            <tr>
                                <td height="20"> </td>
                                <td> </td>
                            </tr>
                            <tr>
                                <td width="100"><a href="#"><span class="fa fa-address-card-o"></span> 계정 주소 : </a></td>
                                <td width="330"><span id="contractAddress">
                                        <%= contractaddr %></span></td>
                                <td width="200" align="right"><a href="#"><span class="fa fa-gg-circle"></span> 보유 토큰 : </a>&nbsp;&nbsp;&nbsp;<span id="TCTNum"></span></td>
                                <td width="50"><a href="#">&nbsp;TCT</a></td>

                            </tr>
                        </table>
                    </div>
                    <form action='/mypage' method="POST" name='addrForm'>
                        <input type="hidden" id="1" name="1" value="">
                    </form>
                    <form action='/beforesellcar' method="POST" name='addrForm1'>
                        <input type="hidden" id="2" name="2" value="">
                    </form>


                    <div class="navbar-collapse collapse ">
                        <ul class="nav navbar-nav">
                            <li><a href="/">Home</a></li>
                            <li><a href="/enrollcar">차대번호 등록</a></li>
                            <li><a href="/buycar">차량 구입</a></li>
                            <li><a href="#" onclick="javascript:document.addrForm1.submit();">차량 판매</a></li>
                            <li class="active"><a href="/repair">수리이력 등록</a></li>
                            <li><a href="/searchRepairInfo">수리이력 조회</a></li>
                            <li><a href="#" onclick="javascript:document.addrForm.submit();">나의 정보</a></li>



                        </ul>
                    </div>

                </div>
            </div>

           
        </header>
        <!-- end header -->
        <section id="inner-headline">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <ul class="breadcrumb">
                            <li><a href="#"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>

                            <li class="active">REPAIR</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>
        <section id="content">

            <div class="container">
                <div class="col-lg-12">


                    <h2 class="card-header info-color white-text text-center py-4">
                        정비차량등록
                    </h2>

                </div>
                <!-- divider -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="solidline">
                        </div>
                    </div>
                </div>

                <div class="card-body px-lg-5 pt-0">

                    <!-- Form -->

                    <form action="/addrepair" method="POST" role="form" name="carForm" class="contactForm" onsubmit="App.checkenrollcar1(); return false;">
                        <div class="col-lg-12 text-center">
                            <label>정비이력을 등록할 차량의 차대번호나 차량번호를 입력해주세요</label>
                        </div>
                        <div class="col-lg-6 col-lg-offset-3">
                            <input type="text" id="wholenumber" name="carNum" class="form-control" placeholder="ex) 01가1111  or  KMHEM42APXA000000" required>
                        </div>


                        <div class="col-lg-2  col-lg-offset-5"><br>
                            <button id="repair_enroll" class="btn btn-theme btn-rounded btn-block z-depth-0 my-4 waves-effect" type="submit">조회</button>
                        </div>

                    </form>
                    <!-- Form -->
                </div>
            </div>
        </section>

    </div>
    <footer>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="widget">
                            <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
                        </div>
                    </div>


                </div>
            </div>

        </footer>

    <a href="#" class="scrollup"><i class="fa fa-angle-up active"></i></a>
    <!-- javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/jquery.easing.1.3.js"></script>
    <script src="javascripts/bootstrap.min.js"></script>
    <script src="javascripts/jquery.fancybox.pack.js"></script>
    <script src="javascripts/jquery.fancybox-media.js"></script>
    <script src="javascripts/google-code-prettify/prettify.js"></script>
    <script src="javascripts/portfolio/jquery.quicksand.js"></script>
    <script src="javascripts/portfolio/setting.js"></script>
    <script src="javascripts/jquery.flexslider.js"></script>
    <script src="javascripts/animate.js"></script>
    <script src="javascripts/custom.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/icon-project/icon-sdk-js/build/icon-sdk-js.min.js"></script>
    <script src="javascripts/utf8.js"></script>
    <script src="contactform/contactform.js"></script>
    <script>
        var iconService = window['icon-sdk-js'];
        var IconAmount = iconService.IconAmount;
        var IconConverter = iconService.IconConverter;
        var IconBuilder = iconService.IconBuilder;

        var contractAddress = document.getElementById("contractAddress");



        window.addEventListener("ICONEX_RELAY_RESPONSE", eventHandler, false);
        // type and payload are in event.detail
        function eventHandler(event) {
            var type = event.detail.type;
            var payload = event.detail.payload;
            switch (type) {
                case "RESPONSE_HAS_ACCOUNT":
                    if (payload.hasAccount == true) {

                    } else {
                        contractAddress.innerHTML = "Please create wallet";
                    }
                    break;


                case "RESPONSE_ADDRESS":
                    fromAddress = payload;
                    isRegist.innerHTML = "HELLO"
                    contractAddress.innerHTML = payload;
                    document.getElementById("1").value = payload;
                    document.getElementById("2").value = payload;
                    document.getElementById("1").onclick = document.addrForm.submit();
                    document.getElementById("2").onclick = document.addrForm1.submit();
                    selling.style.color = "black";
                    myp.style.color = "black";
                    document.getElementById("repair_enroll").disabled = false;
                    break;





                default:
            }

        }
        // Register onclick event to the button and dispatch a new CustomEvent ICONEX_RELAY_REQUEST

        window.onload = function() {
            window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
                detail: {
                    type: "REQUEST_HAS_ACCOUNT"
                }
            }));
        }

        isRegist.onclick = function() {
            window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
                detail: {
                    type: 'REQUEST_ADDRESS'
                }
            }))
        };

    </script>
    <script>
        var iconService = window['icon-sdk-js'];
        var IconAmount = iconService.IconAmount;
        var IconConverter = iconService.IconConverter;
        var IconBuilder = iconService.IconBuilder;

        var contractAddress = document.getElementById("contractAddress");
        var enrollcar_enroll = document.getElementById("enrollcar_enroll");


        window.addEventListener("ICONEX_RELAY_RESPONSE", eventHandler, false);
        // type and payload are in event.detail
        function eventHandler(event) {
            var type = event.detail.type;
            var payload = event.detail.payload;
            switch (type) {
                case "RESPONSE_HAS_ACCOUNT":

                    break;


                case "RESPONSE_ADDRESS":
                    fromAddress = payload;
                    isRegist.innerHTML = "HELLO"
                    contractAddress.innerHTML = payload;
                    break;

                case "RESPONSE_JSON-RPC":
                    console.log(payload.result);
                    var HexToDecimal = parseInt(payload.result.toString(10), 16);
document.getElementById("TCTNum").innerHTML = HexToDecimal;
                    break;
                case "CANCEL_JSON-RPC":
                    break;



                default:
            }

        }
        // Register onclick event to the button and dispatch a new CustomEvent ICONEX_RELAY_REQUEST

        function setCar() {
            var callTransactionBuilder = new IconBuilder.CallTransactionBuilder;
            var callTransactionData = callTransactionBuilder
                .from("<%=contractaddr%>")
                .to("cx1bb212f4567f43ddac4cf24a9ed99f71e9ca36a5")
                .nid(IconConverter.toBigNumber(3))
                .timestamp((new Date()).getTime() * 1000)
                .stepLimit(IconConverter.toBigNumber(100000000))
                .version(IconConverter.toBigNumber(3))
                .method('setCar')
                .params({
                    "_carNumber": document.getElementById("car_registed_string").value
                })
                .build();

            scoredata = JSON.stringify({
                "jsonrpc": "2.0",
                "method": "icx_sendTransaction",
                "params": IconConverter.toRawTransaction(callTransactionData),
                "id": 50889
            });
            var parsed = JSON.parse(scoredata);
            console.log(parsed);

            window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
                detail: {
                    type: 'REQUEST_JSON-RPC',
                    payload: parsed
                }
            }));
        }


        function balanceOf() {
            var callBuilder = new IconBuilder.CallBuilder;
            var readOnlyData = callBuilder
                .from("<%=contractaddr%>")
                .to('cx905fdabf67bcf7b6de9bc164fab92840dc00aa3e')
                .method("balanceOf")
                .params({
                    "owner": "<%=contractaddr%>" //car number
                })
                .build();
            scoredata1 = JSON.stringify({
                "jsonrpc": "2.0",
                "method": "icx_call",
                "params": readOnlyData,
                "id": 50889
            });
            var parsed = JSON.parse(scoredata1);
            console.log(parsed);
            window.dispatchEvent(new CustomEvent('ICONEX_RELAY_REQUEST', {
                detail: {
                    type: 'REQUEST_JSON-RPC',
                    payload: parsed
                }
            }));
        }


        window.onload = function() {
            balanceOf();
        }



    </script>
</body>

</html>

<script>
    var flag = <%=errorFlag%>;

    if (flag != null && flag == 1) {
        alert("등록되지 않은 차량입니다");
    }

</script>
